<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/prettify.css"/>

  <script type="text/javascript" src="javascripts/prettify.js"></script>
  <script type="text/javascript" src="javascripts/jquery-1.3.2.js"></script>

  <style type="text/css">

    #page {
      padding: 13px;
    }

    #script {
      width: 100%;
      height: 200px;
    }

  </style>
</head>
<body>
<div id="page">
  username: <input type="text" id="username"/> password: <input type="password" id="password"/> (I'm too lazy for OAuth, but I promise this isn't saved)
  <textarea id="script"></textarea>
  <button id="eval">Eval</button>(SHIFT-ENTER)

  <div id="result">

  </div>
</div>

<script type="text/javascript">
  $(function () {
    var button = '#page button'
    var username = '#username'
    var password = '#password'
    var script = '#script'
    var result = '#result'
    var eval = '#eval'

    $(button).click(function() {
      $.ajax({
        url: 'eval',
        type: 'POST',
        data: {
          username: $(username).val(),
          password: $(password).val(),
          source: $(script).val()
        },
        success: function(data) {
          $(result).html('<pre class="prettyprint lang-js"></pre>').find('pre').append(document.createTextNode(data))
          prettyPrint()
        },
        error: function(xhr, textStatus, errorThrown) {
          alert('error processing script s: ' + textStatus + ", err: " + errorThrown)
        }
      })
    })
    $(script).keypress(function(e) {
      if (e.which == 13 && e.shiftKey) {
        e.preventDefault()
        $(button).click()
      }
    })

  })
</script>
</body>
</html>
